In [79]:
# Dependencies and Setup
import pandas as pd

# File to Load
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [80]:
# Display the Data Set
df = school_data_complete
df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary
* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math and reading (% Overall Passing)

* Create a dataframe to hold the above results
* Optional: give the displayed data cleaner formatting

In [81]:
# 1. Calulate the Total Number of Schools
## Step 1: Create an array of unique school names
unique_school_names = school_data_complete["school_name"].unique()
unique_school_names

## Step 2: Count the number of unique schools
total_schools = len(unique_school_names)
print(total_schools)

15

In [82]:
# 2. Caluclate the total number of students
total_students = school_data_complete['student_name'].count()
total_students

39170

In [120]:
# 3. Calculate the total budget
total_budget = sum(school_data_complete['budget'].unique())
total_budget

24649428

In [121]:
# 4. Calculate the average math score
average_math = school_data_complete['math_score'].mean()
average_math

78.98537145774827

In [122]:
# 4. Calculate the average reading score
average_reading = school_data_complete['reading_score'].mean()
average_reading

81.87784018381414

In [123]:
# Calculate the percentage of students with a passing math score (70 or greater)
per_pass_math = school_data_complete.loc[school_data_complete['math_score'] >= 70]['math_score'].count()/total_students
print(per_pass_math)

0.749808526933878

In [124]:
# Calculate the percentage of students with a passing reading score (70 or greater)
per_pass_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70]['reading_score'].count()/total_students
print(per_pass_reading)

0.8580546336482001

In [125]:
# Calculate the percentage of students who passed math and reading (% Overall Passing)
per_overall_pass = school_data_complete[(school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)]['student_name'].count()/total_students
print(per_overall_pass)

0.6517232575950983

In [126]:
# Create a dataframe to hold the above results
district_summary = pd.DataFrame({
    
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math],
    "Average Reading Score": [average_reading],
    "% Passing Math":[per_pass_math],
    "% Passing Reading": [per_pass_reading],
    "% Overall Passing": [per_overall_pass]
    })
district_summary.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,0.749809,0.858055,0.651723

In [128]:
# Give the displayed data cleaner formatting
district_summary.style.format({"Total Students": "{:,}",
                       "Total Budget": "${:,.2f}", 
                       "Average Math Score": "{:.1f}", 
                       "Average Reading Score": "{:.1f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "% Overall Passing": "{:.1%}"})